{% extends "challenge.html" %}

{% block description %}
    {{ challenge.html }}
{% endblock %}

{% block input %}
    <input id="challenge-id" class="challenge-id" type="hidden" value="{{ challenge.id }}">
    <input id="challenge-input" class="challenge-input" type="text" name="answer" placeholder="Lösung"/>
{% endblock %}

{% block submit %}
    <button id="challenge-submit" class="challenge-submit" type="submit">
        Abgeben
    </button>
{% endblock %}
