{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="pt-5 mt-5 text-center">
				<h1>404</h1>
				<hr class="w-50">
				<h2>Das konnten wir leider nicht finden</h2>
				
			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
{% endblock %}
