{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Bestätige deine E-Mail</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				{% include "components/errors.html" %}

				<h5 class="text-center">
					Du solltest nun unter der angegebenen E-Mail eine Nachricht von uns erhalten haben.
				</h5>

				<br>

				<h5 class="text-center">
					Bitte klicke den Link in der Nachricht zur Bestätigung deiner Einschreibung.
				</h5>

				<br>

				<h5 class="text-center">
					Wenn du die E-Mail nicht finden kannst, überprüfe bitte deinen <i>Spam</i>-Ordner oder kontaktiere unser Sekretariat unter info@ehlms-horselock-akademie.de.
				</h5>

				<hr>

				{% with form = Forms.auth.ConfirmForm() %}
				<form method="POST" action="{{ url_for('auth.confirm') }}">
					<div class="row">
						<div class="col-md-6">
							{{ form.submit(class="btn btn-md btn-primary btn-outlined w-100") }}
						</div>
						<div class="col-md-6">
							<a href="{{ url_for('views.settings') }}" class="btn btn-md btn-secondary btn-outlined w-100">
								E-Mail Adresse ändern
							</a>
						</div>
						{{ form.nonce() }}
					</div>
				</form>
				{% endwith %}
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}

