{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Login</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			{% include "components/errors.html" %}

			<p>
				Hallo Jung-Detektiv!
			</p>
			<p>
				Hier kannst du dich mit deinem vorher gewählten Benutzernamen und Passwort einwählen. Wenn du dich noch nicht angemeldet hast, dann klick bitte oben rechts auf "Zur Einschreibung".
			</p>
			<p>
				Wenn du alles richtig eingegeben hast, kannst du beispielsweise die Steckbriefe deiner Magister anschauen oder an den Detektivübungen teilnehmen!
			</p>
			<p>
				Solltest du irgendwelche Fragen haben, schreibe bitte unserem Sekretariat eine Mail unter: info@ehlms-horselock-akademie.de.
			</p>

			{% if integrations.mlc() %}
			<a class="btn btn-secondary btn-lg btn-block" href="{{ url_for('auth.oauth_login') }}">
				Login with Major League Cyber
			</a>

			<hr>
			{% endif %}

			{% with form = Forms.auth.LoginForm() %}
			<form method="post" accept-charset="utf-8" autocomplete="off">
				<div class="form-group">
					<b>{{ form.name.label }}</b>
					{{ form.name(class="form-control", value=name) }}
				</div>
				<div class="form-group">
					<b>{{ form.password.label }}</b>
					{{ form.password(class="form-control", value=password) }}
				</div>
				<div class="row pt-3">
					<div class="col-md-6">
						<a class="float-left align-text-to-button text-secondary" href="{{ url_for('auth.reset_password') }}">
							Codewort vergessen?
						</a>
					</div>
					<div class="col-md-6">
						{{ form.submit(class="btn btn-md btn-primary btn-outlined float-right") }}
					</div>
				</div>
				{{ form.nonce() }}
			</form>
			{% endwith %}
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}

